*{
    /* border: 2px solid red; */
    box-sizing: border-box;
}
#container{
    width: 60%;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border: 2px solid black;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

#heading{
    color: white;
    background-color: rgb(54, 54, 255);
    width: 100%;
    padding: 2rem;
    margin:0;
    text-align: center;
    font-size: 3rem;
}

form{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

input{
    padding: 0.5rem;
    padding-left: 1rem;
    margin: 0.5rem;
    width: 30%;
    font-size: 2rem;
}
button{
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 2rem;
}

table{
    margin: 2rem;
    font-size: 2rem;
    padding: 0.5rem;
    width: 80%;
}
th,td{
    padding: 0.5rem;
    text-align: center;
}